<div  class="row">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="#">ECOLE</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a routerLink="/accueil">Accueil</a></li>
          <li routerLinkActive="active"><a routerLink="/invites">Invités</a></li>
          <!--<li><a href="#">Etudiant</a></li>-->
          <!--<li><a href="#">Eseignant</a></li>-->
          <!--<li><a href="#">Administrateur</a></li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a routerLink="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <!--<app-personne></app-personne>-->
    <router-outlet></router-outlet>
  </div>
</div>


